# Doing some EDL on the two datasets

In [8]:
import pandas as pd

df_seed = pd.read_csv(r'data/Ephesis_export-7.csv', delimiter=';') # importing the seed data frame that has 3 different seed types

df_seed.head()

,Lot Number,Accession Number,Accession Name,itk,Trial Name,Trial Site,REPLICATION,X(m),Y(m),Campaign,...,ps: Test weight,Date [ps],sept: Septoria score,Date [sept],rb: Susceptibility to leaf rust,Date [rb],rj: Yellow rust score,Date [rj],pmg: Thousand grain weight at 0% humidity,Date [pmg]
0,RE99006,22563,RE99006,treated,BTH_Clermont-Ferrand_2000_SetA,Clermont-Ferrand,1,NaN,NaN,2000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CF99003,29112,CF99003,low inputs,BTH_Dijon_2000_SetA,Dijon,1,NaN,NaN,2000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tremie,7043,TREMIE,low inputs,BTH_Dijon_2000_SetA,Dijon,1,NaN,NaN,2000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,EM99021,37777,EM99021,"untreated, no fungicide",BTH_Le_Moulon_2000_SetA,Le Moulon,2,NaN,NaN,2000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RE99007,22564,RE99007,low inputs,BTH_Le_Moulon_2000_SetA,Le Moulon,1,NaN,NaN,2000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_seed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81434 entries, 0 to 81433
Data columns (total 27 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Lot Number                                 81434 non-null  object
 1   Accession Number                           81434 non-null  object
 2   Accession Name                             81434 non-null  object
 3   itk                                        81434 non-null  object
 4   Trial Name                                 81434 non-null  object
 5   Trial Site                                 81434 non-null  object
 6   REPLICATION                                81434 non-null  int64
 7   X(m)                                       0 non-null      float64
 8   Y(m)                                       0 non-null      float64
 9   Campaign                                   81434 non-null  int64
 10  GDD                                        0 non-null      float64
 11  rdt: Grain yield at 0% humidity            80800 non-null  object
 12  Date [rdt]                                 0 non-null      float64
 13  prot: Grain protein concentration          36615 non-null  object
 14  Date [prot]                                0 non-null      float64
 15  vr: Lodging score                          3492 non-null   object
 16  Date [vr]                                  0 non-null      float64
 17  ps: Test weight                            2995 non-null   object
 18  Date [ps]                                  0 non-null      float64
 19  sept: Septoria score                       978 non-null    object
 20  Date [sept]                                0 non-null      float64
 21  rb: Susceptibility to leaf rust            560 non-null    object
 22  Date [rb]                                  0 non-null      float64
 23  rj: Yellow rust score                      392 non-null    object
 24  Date [rj]                                  0 non-null      float64
 25  pmg: Thousand grain weight at 0% humidity  271 non-null    object
 26  Date [pmg]                                 0 non-null      float64
dtypes: float64(11), int64(2), object(14)
memory usage: 16.8+ MB

In [10]:
df_crop_rec = pd.read_csv(r'data/Ephesis_export-8.csv', delimiter=';') # This is a data set with other information about a lot of different crops

df_crop_rec

,Lot Number,Accession Number,Accession Name,itk,Trial Name,Trial Site,X(m),Y(m),Campaign,GDD,...,NpateD: Breadmaking test BIPEA: dough score,Date [NpateD],NpainD: Breadmaking test BIPEA: bread score,Date [NpainD],NmieD: Breadmaking test BIPEA: crumb score,Date [NmieD],NtotD: Breadmaking test BIPEA: total score,Date [NtotD],volD: Breadmaking test BIPEA: bread volume,Date [volD]
0,HA1541.134,HA1541.134,HA1541.134,treated,BTH_Clermont-Ferrand_2000_SetA,Clermont-Ferrand,NaN,NaN,2000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CF99007,32316,CF99007,low inputs,BTH_Clermont-Ferrand_2000_SetA,Clermont-Ferrand,NaN,NaN,2000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tremie,7043,TREMIE,"untreated, no fungicide",BTH_Colmar_2000_SetA,Colmar,NaN,NaN,2000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SOISSONS,6607,SOISSONS,treated,BTH_Colmar_2000_SetA,Colmar,NaN,NaN,2000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RE99016,29193,RE99016,treated,BTH_Dijon_2000_SetA,Dijon,NaN,NaN,2000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52874,AO15011,AO15011,AO15011,NaN,BTH_Le_Moulon_2015_SetB3,Le Moulon,NaN,NaN,2015,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52875,AO15025,AO15025,AO15025,faible intrant,BTH_Lusignan_2015_SetB3,Lusignan,NaN,NaN,2015,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52876,AO13015,AO13015,AO13015,traite,BTH_Clermont-Ferrand_2014_TECH,Clermont-Ferrand,NaN,NaN,2014,NaN,...,70.5,NaN,30.8,NaN,94.0,NaN,195.3,NaN,1215.0,NaN
52877,AO14039,AO14039,AO14039,traite,BTH_Dijon_2014_TECH,Dijon,NaN,NaN,2014,NaN,...,42.0,NaN,23.0,NaN,91.0,NaN,156.0,NaN,990.0,NaN
52878,RE13004,39433,RE13004,faible intrant,BTH_Rennes_2014_TECH,Rennes,NaN,NaN,2014,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_crop_rec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52879 entries, 0 to 52878
Columns: 112 entries, Lot Number to Date [volD]
dtypes: float64(72), int64(1), object(39)
memory usage: 45.2+ MB